.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
}

.animation {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

.errorText {
    font-size: 4rem;
    margin: 0;
}

.message {
    font-size: 1.5rem;
    margin: 10px 0;
}

.subMessage {
    font-size: 1rem;
    color: #aaa;
}