
/* todo-list-headerのヘッダー部分のタイトルを修飾するためのスタイル */
.title {
    font-weight: bold;
    margin-bottom: 16px;
    background: orange;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitle {
  font-size: 16px;
  color: #888;
}